torch==2.6
torchvision<2
opencv-python
cython
scipy
shapely
h5py
scikit-image
timm
einops
setuptools
ftfy
regex
inflect
tqdm
mmcv
git+https://github.com/cocodataset/panopticapi.git
git+https://github.com/mcordts/cityscapesScripts.git