torch>=2.0.0
torchvision>=0.15.0
opencv-python
cython
scipy
shapely
h5py
scikit-image
timm
einops
setuptools
ftfy
regex
inflect
tqdm
mmcv
git+https://github.com/cocodataset/panopticapi.git
git+https://github.com/mcordts/cityscapesScripts.git